.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  background: transparent url(../../../../images/edit-button.svg) no-repeat
    center;
  background-size: 10px;
  margin-top: 15px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

@media screen and (max-width: 772px) {
  .profile__edit-button {
    width: 20px;
    height: 20px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    background-size: 8px;
    width: 18px;
    height: 18px;
    margin-top: 5px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
