.modal__button {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  min-height: 18px;
  box-sizing: border-box;
  margin-top: 48px;
  padding-top: 13.66px;
  padding-bottom: 18.49px;
  background-color: #000000;
  border: none;
  border-radius: 2px;
}

@media screen and (max-width: 320px) {
  .modal__button {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 45px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.modal__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
