.modal__closebtn {
  background-image: url(../../../images/closebtn.svg);
  background-position: 50%;
  position: absolute;
  top: -72px;
  right: -73px;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 518px) {
  .modal__closebtn {
    top: -55px;
    right: -30px;
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media screen and (max-width: 320px) {
  .modal__closebtn {
    width: 1.625rem;
    height: 1.625rem;
  }
}
